<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Atención</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	
	<br/>

	<div class="container">
	    <div class="row">
	        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	            <h1 class="text-center">Editar Atención</h1>
	            <div class="card-body">
	                <form th:action="@{/guardarAte}" th:object="${atencion}" method="post">
						<div class="form-group">
							<label>Atencion ID: </label>
							<input type="text" name="codAtencion" th:field="*{codAtencion}" class="form-control" readonly="readonly" >
						</div>
						<div class="form-group">
	                        <label>Acciones: </label>
	                        <input type="text" name="acciones" th:field="*{acciones}" class="form-control" placeholder="Ingrese acciones" required>
	                    </div>
	                    <div class="form-group">
	                        <label>Presupuesto: </label>
	                        <input type="number" step="0.01" name="presupuesto" th:field="*{presupuesto}" class="form-control" placeholder="Ingrese presupuesto" required>
	                    </div>
	                    <div class="form-group">
	                        <label>Detalle de Presupuesto: </label>
	                        <input type="text" name="detallePresupuesto" th:field="*{detallePresupuesto}" class="form-control" placeholder="Ingrese detalle de presupuesto" required>
	                    </div>
	                    <div class="form-group">
	                        <label>Observaciones: </label>
	                        <textarea name="observaciones" th:field="*{observaciones}" class="form-control" placeholder="Ingrese observaciones" required></textarea>
	                    </div>
	                    <div class="form-group">
	                        <label>Empleado: </label>
	                        <input type="number" name="empleado.codEmpleado" th:field="*{empleado.codEmpleado}" class="form-control" placeholder="Ingrese el código del empleado" required>
	                    </div>
	                    <div class="form-group">
	                        <label>Incidencia: </label>
	                        <input type="number" name="incidencia.codIncidencia" th:field="*{incidencia.codIncidencia}" class="form-control" placeholder="Ingrese el código de la incidencia" required>
	                    </div>
						<div class="form-group d-flex justify-content-between">
						    <button type="submit" class="btn btn-success">Guardar Cambios</button>
							<a href="/ate" class="btn btn-warning">Cancelar</a>
						</div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
